<div class="container my-3">
  <div class="row">
    <div class="col-12 col-sm-4 align-self-top px-0">
      <%= link_to article_path(like.article) do %>
        <%= image_tag("https://www.dropbox.com/s/ct1tog1jlao40ff/banner.png?dl=1", class: "rounded img-fluid w-100 my-0 bg-light") %>
      <% end %>
    </div>
    <div class="col-12 col-sm-8 px-0 pl-sm-3 pt-2 pt-sm-0">
      <%= link_to article_path(like.article), class: "stretched-link" do %>
        <h2 class="my-0 h5">
         <span class="text-capitalize"><%= like.article.title %></span>
         <%= bookmark_checker(like.article) %>
         <%= mark_checker(like.article) %>
         <%= like_checker(like.article) %>
         <!-- <span title="liked" class="float-right"><i class="fa fa-fw fa-heart text-danger"></i></span> -->
        </h2>
      <% end %>
      <p class="small text-muted my-0">
        <span class="mr-2"><%= like.article&.published_at&.strftime("%b %e, %Y") %></span>
        <span class="tags">
          <i class="fa fa-tags ml-2"></i> <%= render like.article.tags %>
        </span>
      </p>
      <p class="text-muted text-justify my-0 mt-1 small">
        <%= truncate(like.article.body, length: 200) %>
      </p>
    </div>
  </div>
</div>
